{% extends 'layouts/layout.twig' %}

{% block sub_title 'Upload an Image - ' %}
{% block body %}
    <h1>Edit product {{ id }}</h1>

    <form action="" method="POST">
        <div class="input-wrap"><label for="">Name:</label><input type="text"></div>
        <div class="input-wrap"><label for="">Type:</label><input type="text"></div>
        <div class="input-wrap"><label for="">City:</label><input type="text"></div>
        <input type="submit" value="Save" />
    </form>
{% endblock body %}