{% extends 'layouts/layout.twig' %}

{% block sub_title 'Upload an Image - ' %}
{% block body %}
    <h1>Product {{ id }}</h1>

    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, tempora.</p>
{% endblock body %}